@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax-remove-scrollbar {
  -webkit-scrollbar-display: none !important;
  scrollbar-width: 0 !important;
}

.parallax-remove-scrollbar::-webkit-scrollbar {
  display: none;
}
