@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax-remove-scrollbar {
  -webkit-scrollbar-display: none !important;
  scrollbar-width: 0 !important;
}

.parallax-remove-scrollbar::-webkit-scrollbar {
  display: none;
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
